// $white: #fefefe;
$blue: #3978fc;
$dark: #01040b;
$light-blue: #5892fd;
$cream: #f3c5ad;
$light-cream: #fee9d6;
$violet-blue: #6359c7;
$soft-light-blue: #6699cc;
$cream-red: #ff3c38;
$yellow: #ffbc42;

$white: rgb(238, 238, 238); // font color
$eerie-black: #15161aff; // body color or background oclor
$raisin-black: #272a31;
$raisin-black-2: #202125ff; // navbar  color
$vivid-sky-blue: #5ecaf6ff;
$gray: rgb(172, 172, 172); // font color

$rich-black: #121e2a;
$marigold: #f8c461;
$cinnabar: #ef775e;
$blue-de-france: #33a8fd;
$sea-green: #34dc8f;
$indigo-dye: #283e59;
